In [1]:
dict = {"col1": list(range(0,20)), "col2": list(range(0,40,2))}

In [2]:
dict

{'col1': [0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19],
 'col2': [0,
  2,
  4,
  6,
  8,
  10,
  12,
  14,
  16,
  18,
  20,
  22,
  24,
  26,
  28,
  30,
  32,
  34,
  36,
  38]}

In [5]:
import pandas as pd
df = pd.DataFrame(dict)
df

    col1  col2
0      0     0
1      1     2
2      2     4
3      3     6
4      4     8
5      5    10
6      6    12
7      7    14
8      8    16
9      9    18
10    10    20
11    11    22
12    12    24
13    13    26
14    14    28
15    15    30
16    16    32
17    17    34
18    18    36
19    19    38

In [14]:
list = [row[1]["col1"] for row in df.iterrows()]
list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [12]:
for row in df.iterrows():
    print(row[1]["col1"])

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19